$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}




body {
  margin: 0px;
  font-family: 'Raleway';
  font-weight: 400;
}

a {
  text-decoration: none;
}

html { 
  background: url(../images/background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Main Navigation */ 

.main-nav {
  width: 100%;
  background: #666666;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 999;
  opacity: .9;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
  font-size: 18px;
  color: white;
}

.nav a:hover {
  color: white; 
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page {
  position: relative;
}

.logoimage {
  width: 400px;
}

.page {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .description {
    color: #666666;
  }

  .nextdiv {
    margin-top: 30px;
    margin-bottom: 30px;
    $btnfont: #ffffff;

    a {
      background-color: #c25e5b;
      padding: 10px 20px 10px 20px;
      color: $btnfont;
      font-size: 1.5em;
      text-decoration: none;
      @include border-radius(30px);
    }

    a:link {
      color: $btnfont;
      font-size: 1.5em;
      text-decoration: none;
    }

    a:hover {
      color: $btnfont;
      font-size: 1.5em;
      text-decoration: none;
    }

    a:visited {
      color: $btnfont;
      font-size: 1.5em;
      text-decoration: none;
    }

    a:active {
      color: $btnfont;
      font-size: 1.5em;
      text-decoration: none;
    }
  }
}

.downarrow {
  margin-left: 5px;
  width: 15px;
}

.page1 {
  min-height: 400px;
}

.page2 {
  min-height: 400px;
  background: #66666;


  .description {
    color: #ffffff;
  }
}

.page3 {
  min-height: 400px;
}



.page4 {
  min-height: 400px;
  background-color: #666666;

  .description {
    color: #ffffff;
  }
}

/* Floating Back-to-Top Button */
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 999;
  right: 85%;
  bottom: 20px;
  background: #b3b3b3 url("/images/up-arrow.svg") no-repeat center 43%;
  background-size: 40px 40px;
  @include border-radius(30px);
}


 
